body{
    display: flex;
    justify-content: center;
    align-items: all;
    height: 100%;
}

a{
    text-decoration: none;
}

.box {
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    border-radius: 10px;
    background: #22ff73;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    height: 50;
    width: auto;
}
button {
    height: 50;
    width: 100;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}